
body{
    padding: 0;
    margin: 0;
    display: grid;
    /* grid-template-rows:20vh 80vh 20vh ; */
}
h3{
    color: black;
}

header, footer{
    background-color: #4682b4;
    max-height: 15vh;
    padding: 10px;

}

main{
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vh;
}

header button{
    position: absolute;
    right: 30vw;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
button:hover{
    filter: brightness(80%);
}

svg{
    position: absolute;
    right: 2vw;
    top: 5vw;
    cursor: pointer;
}
#main_input{

    min-width:40vw ;
    height: 4vh;
    border-radius: 5px;
    border: none;
}

h1{

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: x-large;
    font-weight: bold(300);
    margin: 7px;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.newsitem, li{
    list-style-type: none ;
    max-width: 100ch;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0px;


}

.newsitem{
    gap: 10px;
    border-bottom: solid 1px rgb(184, 184, 184);
}

ul img{
    object-fit: cover;
    width: 20vw;
    height: 30vh;

}

footer p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.buttonsArea{
    margin: 0;
    padding: 0;
    display: flex;
    width: 40vw;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;

   
}

.pageButton, .activeButton{
    width: 43px;
    height: 43px;
    position: static;
    border-radius: 5px;
    border: solid 2px #4682b4;
    color: #4682b4;
    font-size: medium;
    background-color: #f0f0f0;
}

.pageButton:hover, .activeButton{
    background-color: #4682b4;
    color: white;
}


a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(209, 209, 209);
    height: 25px;
    border-radius: 5px;
    color: black;
    text-decoration: none;

}

p, h2{

    margin: 8px;
}

#modal form{
    width: 37vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}



#modal button{
    top: 30vh;
    right: 10vw;
    width: 35vw;
    height: 35px;
    color: #f0f0f0;
    border-radius: 5px;
    border: none;
    background-color: #4682b4;
}

.divButtonScroll{
    
    overflow: scroll;
}

dialog{
    margin: auto;
    position: relative;
    width: 45vw;
    max-width: 600px;
    padding: 20px;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
form div {
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    gap: 15px;


}


.input_dialog, select{
    border-radius: 5px;
    height: 35px;
    width:   250px ;
    border: 1px solid rgb(102, 102, 102);
}

#close_modal{
    font-weight: bold;
    font-size: larger;
    font-family: Dosis;
    position: absolute;
    right: 19px;
    top: -12px;
    cursor: pointer;
}

label{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

@media (max-width: 1120px){
    form div{
        flex-direction: column;
        width: 80vw;
    }
    dialog form{
        max-width: 80vw;
    }
    /* dialog{
        min-width: 60vw;
    
    } */

    .input_dialog, select{
        height: 5vh;
        width:   300px ;
    }
    .newsitem, li{
        flex-direction: column;
    }

    ul img{
        object-fit: cover;
        width: 60vw;
        height: 50vh;
    
    }

    #main_input{
        max-width: 80vw;
    }

    li div{
        width: fit-content;
    }


}